<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>Site name</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a  mat-button  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a *ngIf="(userType === 'USER' || userType === 'ADMIN')"mat-button  routerLink="contacts"> List</a>
      <a *ngIf="userType === 'ADMIN'"mat-button  routerLink="/users" routerLinkActive="active">Users</a>
      <a *ngIf="userType === 'ADMIN'"mat-button  routerLink="/delete-contact" routerLinkActive="active">DeleteContact</a>
      <a *ngIf="userType === 'ADMIN'"mat-button  routerLink="./" (click)="openDialog()">Add Contactor</a>
      <a mat-button  routerLink="/account/login" style="margin-right:15px "> Login</a>
      <a mat-button  (click)="logout()">Logout</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a  mat-button  routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a *ngIf="(userType === 'USER' || userType === 'ADMIN')"mat-button  routerLink="contacts"> List</a>
        <a *ngIf="userType === 'ADMIN'"mat-button  routerLink="/users" routerLinkActive="active">Users</a>
        <a *ngIf="userType === 'ADMIN'"mat-button  routerLink="/delete-contact" routerLinkActive="active">DeleteContact</a>
        <a *ngIf="userType === 'ADMIN'"mat-button  (click)="openDialog()">Add Contactor</a>
        <a mat-button  routerLink="/account/login" style="margin-right:15px "> Login</a>
        <a mat-button  (click)="logout()">Logout</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!--
<mat-toolbar color="primary">
  <button mat-raised-button color="warn" [matMenuTriggerFor]="menu" style="margin-right:15px ">Simple Menu</button>
    <mat-menu #menu="matMenu">
      <button  mat-raised-button color="warn" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button><br>
      <button  *ngIf="(userType === 'USER' || userType === 'ADMIN')"mat-raised-button color="warn" routerLink="contacts"> List</button><br>
      <button  *ngIf="userType === 'ADMIN'"mat-raised-button color="warn" routerLink="/users" routerLinkActive="active">Users</button><br>
      <button  *ngIf="userType === 'ADMIN'"mat-raised-button color="warn" routerLink="/delete-contact" routerLinkActive="active">DeleteContact</button><br>
    </mat-menu>
    <button *ngIf="userType === 'ADMIN'" mat-raised-button color="warn" (click)="openDialog()">Add Contactor</button>
    <span class="example-spacer"></span>
        <span>Contact Application {{userType}}</span>
    <span class="example-spacer"></span>


    <button mat-raised-button color="warn" routerLink="/account/login" style="margin-right:15px "> Login</button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>

<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>-->

