<div class="card" style="max-width: 50%; margin-right: auto;margin-left: auto; margin-top: 5%">
  <h4 class="card-header">Delete contactor</h4>
  <div class="card-body  delete-card">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Id</label>
          <input type="text" formControlName="id" class="form-control" />
          <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
            <div *ngIf="f.id.errors.required">Username is required</div>
          </div>
        </div>
      <button type="submit" class="btn btn-primary" >
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Delete
      </button>
    </form>
  </div>
</div>
